
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header, footer{
    background-color: rgb(0, 110, 255);
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
}

#links{
    display: none;
}

a{
    color: white;
    margin-top: 20px;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    background-color: lightgray;
}

main > h2{
    padding: 20px 0 30px;
}

img{
    margin: 20px;
    justify-self: center;
    border: 5px solid white;
    box-shadow: 3px 3px 5px black;
    object-fit: cover;
}

dialog img {
    width: 50%;
    display: block;
    margin: 25.5% auto;
}
dialog {
    max-width: 100%;
    max-height: 100%;
    background-color: rgba(0,0,0,.75);
}

.close-viewer {
    position: absolute;
    top: 10vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

@media screen and (min-width: 780px) and (max-width: 1199px){
    main{
        grid-template-columns: 1fr 1fr;
    }

    dialog img {
    margin: 12.5% auto;
    }
}

@media screen and (min-width: 1200px){
    #menu{
        display: none;
    }

    #links{
        display: inline;
    }

    main{
        grid-template-columns: 1fr 1fr 1fr;
    }

    main > h2{
    grid-column: 1/4;
    }

    dialog img {
    margin: 7.5% auto;
    }
}